<div class="body mt-5">
  <div class="button-group">
    <button class="mostraTutto" (click)="selectTutti()">Seleziona Tutto</button>
    <button class="mostraTutto" (click)="deselectTutti()">
      Deseleziona Tutto
    </button>
  </div>
  <span style="background-color: #d4b269; width: 70%; height: 2px"></span>
  <div class="checkbox-row" style="margin: 2% 0; width: 70%">
    <div
      style="text-align: center"
      class="checkbox-group"
      *ngFor="let value of values"
    >
      <label
        style="margin: 5px"
        class="form-check-label"
        *ngIf="
          showAllCheckboxes ||
          (selectedLetter &&
            value.toLowerCase().startsWith(selectedLetter.toLowerCase()))
        "
      >
        <input
          class="form-check-input"
          type="checkbox"
          [value]="value"
          [checked]="checkboxStates[value]"
          (change)="onCheckboxChange($event, value)"
        />
        {{ value }}
      </label>
    </div>
  </div>
  <button
    style="width: 70%"
    (click)="cerca()"
    class="shadow form-control button-56 mt-5"
  >
    Cerca tecnologie
  </button>
</div>
