<body>
    <div class="button-group">
      <button class="btn btn-primary" (click)="showAllCheckboxes = true; showAllLetters()">Mostra Tutto</button>
      <button class="btn btn-primary" (click)="selectTutti()">Seleziona Tutto</button>
      <button class="btn btn-primary" (click)="deselectTutti()">Deseleziona Tutto</button>
    </div>
  
    <div>
      <button class="btn btn-primary" style="margin: 10px;" *ngFor="let letter of alphabet"
        (click)="selectLetter(letter)">{{ letter }}</button>
    </div>
    <div class="checkbox-row" style="margin-left: 90px; margin-top: 20px; margin-bottom: 20px;">
      <div style="margin: 10px;" class="checkbox-group" *ngFor="let value of values">
        <label style="margin: 5px;" class="form-check-label"
          *ngIf="showAllCheckboxes || (selectedLetter && value.toLowerCase().startsWith(selectedLetter.toLowerCase()))">
          <input class="form-check-input" type="checkbox" [value]="value" [checked]="checkboxStates[value]"
            (change)="onCheckboxChange($event, value)">
          {{ value }}
        </label>
      </div>
    </div>
    <button (click)="cerca()" class="btn btn-success">Cerca</button>
  </body>