<div class="panel panel-primary">
  <div class="centrato">
    <div class="panel-heading">
      <h2>Ricerca dipendenti</h2>
    </div>
    <div style="width: 70%; text-align: center">
      <button class="mostraTutto" (click)="sortBy('cognome')">
        Ordina per Cognome
      </button>
      <button class="mostraTutto" (click)="sortBy('nomeTecnologia')">
        Ordina per Tecnologia
      </button>
    </div>

    <span style="background-color: #d4b269; width: 70%; height: 2px"></span>

    <input
      style="
        margin-top: 3%;
        margin-bottom: 10px;
        background-color: #d4b269 !important;
      "
      type="text"
      [formControl]="searchText"
      placeholder="Cerca per Cognome"
      class="form-control shadow"
    />
  </div>
  <div class="container-sm" style="max-width: 70%">
    <table
      style="color: #25438b"
      class="shadow table table-striped table-bordered"
      style="margin-top: 3%"
    >
      <thead>
        <tr>
          <th>Nome</th>
          <th>Cognome</th>
          <th>Tecnologia</th>
          <th>Competenza</th>
          <th>Esperienza</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dipendente of dipendenti | async">
          <td>{{ dipendente.nome }}</td>
          <td>{{ dipendente.cognome }}</td>
          <td>{{ dipendente.nomeTecnologia }}</td>
          <td>{{ dipendente.competenza }}</td>
          <td>{{ dipendente.esperienza }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
