label {
  font-size: 1.4vw;
  color: #0a2963;
}

input {
  background-color: #d4b269 !important;
}

input:focus {
  background-color: #d4b269 !important;
  color: #0a2963;
  border: 5px solid #0a2963 !important ;
}

.button-56::after {
  height: 110%;
}

button:hover {
  cursor: pointer;
}
