img {
  width: 40%;

  height: auto;
}

.logout:hover {
  text-decoration: underline !important;
  color: white;
}

.logout {
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  margin-top: 2%;
  margin-left: 35%;
}
