<div
  class="container-sm"
  style="
    height: 20vw;
    margin-top: 3%;
    color: white !important;
    display: flex;
    flex-direction: row;
    align-items: center;
  "
>
  <button class="shadow form-control button-56" style="height: 100%">
    <span style="display: flex; flex-direction: column"
      >DIPENDENTE <a routerLink="/login" class="hide">ACCEDI</a>
      <div class="hide">
        Se ancora non sei registrato clicca &nbsp;<a
          routerLink="/registrazione-dipendente"
          style="color: #0a2963; text-decoration: none"
          >qui.</a
        >
      </div></span
    >
    <img src="/assets/dipendente.jpeg" alt="" />
  </button>
  <button
    class="shadow form-control button-56"
    style="margin-left: 3%; height: 100%"
  >
    <span style="display: flex; flex-direction: column"
      >RISORSA UMANA <a routerLink="/login-hr" class="hide">ACCEDI</a></span
    >
    <img src="/assets/risorsa_umana.png" alt="" />
  </button>
</div>
<div style="display: flex; justify-content: center">
  <img
    src="/assets/employees.png"
    style="
      position: absolute;
      bottom: 0%;
      mix-blend-mode: darken;
      height: 10vw;
      width: 12vw;
    "
  />
</div>
